<IfModule mod_rewrite.c>
  AddHandler application/x-httpd-ea-php80 .php .php8  
  RewriteEngine On 
  Options -Indexes 
  RewriteBase / 
  RewriteCond %{REQUEST_FILENAME} !-f 
  RewriteCond %{REQUEST_FILENAME} !-d 
  RewriteRule ^(.*)$ index.php/$1 [L]
  RewriteRule ^ui/header.php header.php?page=$1&nama=$1 [L]
  RewriteRule ^ui/header.php header.php?page=$1&email=$1 [L]
  RewriteRule ^ui/header.php header.php?page=$1&nis=$1[L]
  RewriteRule ^ui/header.php header.php?act=$1 [L]
  RewriteRule ^ui/header.php header.php?aksi=$1&nama=$1 [L]
</IfModule>